
.page-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #666;
  }
  
  .page-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .repo-list {
    list-style-type: none;
    padding: 0;
  }
  
  .repo-list li {
    margin-bottom: 10px;
  }
  
  .repo-link {
    color: #000; 
    text-decoration: none;
  }
  
  .repo-link:hover {
    text-decoration: underline;
  }
  
  
  .button-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #0366d6;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  